@use 'sass:math';

$utilities: (
    'padding': (
        'prifix': 'p',
        'value': (
            '0': 0,
            '1': $base-padding,
            '2': $base-padding * 2,
            '3': $base-padding * 4,
        ),
    ),
    'padding-left': (
        'prifix': 'pl',
        'value': (
            '0': 0,
            '1': $base-padding,
            '2': $base-padding * 2,
            '3': $base-padding * 4,
        ),
    ),
    'opacity': (
        'prifix': 'op',
        'value': (
            '10': 0.1,
            '20': 0.2,
            '30': 0.3,
            '40': 0.4,
            '50': 0.5,
        ),
    ),
    'margin-bottom': (
        'prifix': 'mb',
        'value': (
            '0': 0,
            '1': $base-margin,
            '2': $base-margin * 2,
            '3': $base-margin * 4,
        ),
    ),
);

@each $property, $map in $utilities {
    $prifix: map-get($map, 'prifix');
    $value: map-get($map, 'value');

    @each $k, $v in $value {
        @if($k == 'defualt') {
            .#{$prifix} {
                #{$property}: $v;
            }
        } @else {
            .#{$prifix}-#{$k} {
                #{$property}: $v;
            }
        }
    }
}