@mixin btn($bg-color: $primary, $border-color: darken($primary, 10)) {
    border: $border-width solid $border-color;
    background-color: $bg-color;
    display: inline-block;
    padding: $base-padding;
    margin: $base-margin;
    border-radius: $border-radus;
    cursor: pointer;
    text-decoration: none;
    min-width: 150px;
}

@each $key, $value in $colors {
    .btn-#{$key} {
        @include btn($value, darken($value, 10));
        &:hover {
            background-color: darken($value, 10);
        }
    }
    .btn-outline-#{$key} {
        @include btn(transparent, $value);
        &:hover {
            background-color: $value;
        }
    }
    .btn-comp-#{$key} {
        @include btn($value, darken($value, 10));
        color: light-comp($value);
        &:hover{
            color: $value;
            background-color: light-comp($value);
        }
    }
}